@{
    ViewData["Title"] = "Human Resources Area";
}

@*<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

</style>*@

<h1>@ViewData["Title"]</h1>

<div class="container" style=" padding-top: 5px">
    <div class="row">
        <div class="col-md-4">

            <div href="#" class="card card-product-grid" style="border: 1px solid #000">
                <div class="card-header text-center">
                    <h5 style="color:red">Assessments</h5>
                </div>
                <figcaption class="info-wrap h-100">
                    <small class="card-text">
                        <b>

                            <img src="https://icon-library.com/images/billing-icon/billing-icon-5.jpg" style="display: block;
                                            margin-left: auto;
                                            margin-right: auto;
                                            border-radius: 50%;
                                            width: 80px;
                                            height: 80px;" />
                        </b><br />
                        <div class="text-center">
                            <span style="margin:0 auto;">Red Academy is a Red it promgram that aims to train and prepare future software professionals to enter the job market in a more mature and efficient way</span><br />
                        </div>
                    </small>

                </figcaption>
                <div class="card-footer price mt-1 text-center">
                    <button type="button" class="btn btn-danger mg-1 pb-1" style="width: 150px;">
                        <a class="nav-link text-light" asp-area="" asp-controller="Assessment" asp-action="Index"><i>List</i></a>
                    </button>
                </div>

            </div>
        </div>

        <div class="col-md-4">

            <div href="#" class="card card-product-grid" style="border: 1px solid #000">
                <div class="card-header text-center">
                    <h5 style="color:red">Goals</h5>
                </div>
                <figcaption class="info-wrap h-100">
                    <small class="card-text">
                        <b>

                            <img src="https://cdn.icon-icons.com/icons2/2355/PNG/512/pay_cash_payment_money_dollar_bill_icon_143267.png" style="display: block;
                                            margin-left: auto;
                                            margin-right: auto;
                                            border-radius: 50%;
                                            width: 80px;
                                            height: 80px;" />
                        </b><br />
                        <div class="text-center">
                            <span style="margin:0 auto;">Red Academy is a Red it promgram that aims to train and prepare future software professionals to enter the job market in a more mature and efficient way</span><br />
                        </div>
                    </small>

                </figcaption>
                <div class="card-footer price mt-1 text-center">
                    <button type="button" class="btn btn-danger mg-1 pb-1" style="width: 150px;">
                        <a class="nav-link text-light" asp-area="" asp-controller="Asseassament" asp-action="Index"> <i>List</i></a>
                    </button>
                </div>

            </div>
        </div>

    </div>
</div>